<p id="notice"><%= notice %></p>

<h1>Listing Users Items</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_items.each do |users_item| %>
      <tr>
        <td><%= users_item.user %></td>
        <td><%= users_item.item %></td>
        <td><%= link_to 'Show', users_item %></td>
        <td><%= link_to 'Edit', edit_users_item_path(users_item) %></td>
        <td><%= link_to 'Destroy', users_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users item', new_users_item_path %>
